.card {
    width: 100%;
    height: 300px;
    cursor: pointer;
    perspective: 1000px; /*Gives 3D Depth*/
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
}
/* This selects only if card-inner and flipped are active */
  .card-inner.flipped {
    transform: rotateY(180deg);
  }

  .card-inner.no-animation {
    transition: none !important;
}

.card-inner.no-animation {
  transition: none;
}

.card-inner {
  transition: transform 0.6s;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border: 3px solid #0000001f;
  border-radius: 8px;
  text-align: center;
}

.card-front {
    background-color: #f9f9f9;
  }
  
  .card-back {
    background-color: #f9f9f9;
    transform: rotateY(180deg);
  }